{{/*  TODO : une grid d'image plus simple que photoswipe, avec zoomable-img.js  */}}

{{- $images := (.Page.Resources.ByType "image") -}}
{{ $id := (.Get "path") }}
  {{- if .Get "match" }} {{ $id = (.Get "match") }}{{ $images = (.Page.Resources.Match (.Get "match")) }} {{ end -}}
{{ if .Get "path" }} 
  {{ $id = (.Get "path") }}
  {{ $path := printf "%s/*" (.Get "path") }}
  {{ $images = (.Page.Resources.Match $path) }} 
{{ end }}

<div class="row">
  <div class="column">

  </div>
</div>



<style>
{{ $maxWidth := ("25" | int) }}
{{ if .Params.col_lg }}
  {{ $maxWidth = div 100 (.Get "col_lg" | int )}}
{{ end }}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: {{ $maxWidth }}%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>